/* Write some CSS below */
.container {
    margin: 20px 0px;
}
.banner h1 {
    color: #fffcfc;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 600px;
    margin: 0 auto;
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: 250px;
    white-space: nowrap;
}
.banner h2 {
    color: #FEFBF6;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 500px;
    margin: 0 auto;
    margin-bottom: 23px;
}
.banner a {
    color: #fdfaf6;
    font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 300px;
  margin: 0 auto;
}
.btn-black {
  display: inline-block;
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: bold; 
  text-align: center;
  text-decoration: none;
  background-color: #111211; 
  border: 2px solid #0d0e0d; 
  border-radius: 5px; 
  cursor: pointer;
}
.banner .btn-black {
  margin-top: 20px; 
  width: 90px; /
  padding: 10px 20px;
  font-size: 16px;
}
.banner {
  background-image: url("images/background\ image.jpg");
  background-size: cover;
  background-position: center;
  height: 765px;
  text-align: center;
  padding-top: 50px;
  display: flex;
    flex-direction: column;
    justify-content: center;
}


.container h2 {
    color: #000000;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin-top: 90px;
  font-size: 40px;
  margin-bottom: 100px;
}

.photoshoot p {
    color: #000000;
    font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.btn-insta {
  display: inline-block;
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: bold; 
  text-align: center;
  text-decoration: none;
  background-color: #ffffff; 
  border: 2px solid #8c6f99; 
  border-radius: 5px; 
  cursor: pointer;
}
.photoshoot .btn-insta {
  margin-top: 20px; 
  width: 43px;
  height: 15px;
  padding: 10px 20px;
  font-size: 10.5px;
}
.photoshoot img {
    border-radius: 4px
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photoshoot {
  text-align: center;
  margin: 10px;
}

.btn-insta {
  margin-top: 10px;
}

.photoshoot p {
    color: #000000;
    font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.photoshoot img {
    border-radius: 4px
}

.photoshoot p {
    color: #000000;
    font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.photoshoot img {
    border-radius: 4px
}
.photoshoot a {
  color: #0a0a0a;
  font-family: "Barlow", sans-serif;
font-weight: 300;
font-style: normal;
font-size: 10px;
}

.cards {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.cards img {
  margin-right: 10px;
}

.footer p {
    color: #000000;
    font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.footer {
  background-color: #f0f0f0; 
  padding: 20px; 
  text-align: left;
  margin-top: 100px;
}
.body {
  font-size: 16px;
}

/* Styles spécifiques pour les écrans de petite taille (smartphones) */
@media only screen and (max-width: 600px) {
  body {
      font-size: 14px;
  }
  /* Ajoutez d'autres styles spécifiques pour les petits écrans ici */
}
img {
  max-width: 100%;
  height: auto;
}